.employee-form-container {
    width: 100%;
    
    .field-row {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;

        label {
            font-weight: 600;
            color: #334155;
            font-size: 0.875rem;
        }
    }
}

:host ::ng-deep {
    .p-select {
        width: 100% !important;
    }
}
