.associate-editor {
    height: 100%;
    
    .editor-header {
        z-index: 10;
        box-shadow: 0 4px 12px rgba(0,0,0,0.03);
    }

    .editor-content {
        background-color: var(--surface-ground);
    }

    .drawer-footer-wrapper {
        flex-shrink: 0;
        z-index: 10;
        box-shadow: 0 -8px 24px rgba(0, 0, 0, 0.04);
    }
}

:host ::ng-deep {
    .p-panel {
        .p-panel-content {
            padding: 1.5rem;
        }
    }

    .custom-scrollbar {
        &::-webkit-scrollbar {
            width: 6px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: var(--surface-200);
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: var(--surface-300);
        }
    }
}

